<%- include('../includes/header', {title: title}) %>

<%- include('../includes/navigation') %>
<main class='container'>
  <div class='loginForm'>
    <h2 class='text-center'>Register an new account</h1>
    <form action='/login' method='post' autocomplete='off' class='loginForm'>
      <div class='form-group mb-2'>
        <label for='usermail'>Your Email Address</label>
        <input type='email' name='usermail' id='usermail' required autofocus class='form-control' />
      </div>

      <div class='form-group mb-2'>
        <label for='password'>Password</label>
        <input type='password' name='password' id='password' required class='form-control' />
      </div>

      <div class='form-group mb-2'>
        <label for='confirm-pw'>Confirm Password</label>
        <input type='password' name='confirm-pw' id='confirm-pw' required class='form-control' />
      </div>

      <button type='submit' class='btn btn-dark mx-auto'>Register</button>
    </form>
  </div>
</main>

<%- include('../includes/footer') %>