<%- include('includes/header', { title: '⚠️ Error' }) %>

<%- include('includes/navigation') %>
<main class='container'>
  <h1>⚠️ Error!</h1>
  <p>This page does not exist.</p>
  <a href="/">Back to home page</a>
</main>

<%- include('includes/footer') %>