<%- include('includes/header', { title: '🔔 Trial Alert' }) %>

<%- include('includes/navigation') %>
<main class='container'>
  <h1>Forgetting Things?</h1>
  <p>A web application that reminds you of important deadlines.</p>
</main>

<%- include('includes/footer') %>