<%- include('includes/header', { title: 'Add Event'}) %>
<%- include('includes/navigation') %>
<main class="container">
  <% if(typeof error !== 'undefined') { %>
    <div class="alert alert-danger"><%- error %></div>
  <% } %>
  <a href="/dashboard" class="text-secondary">Back to Dashboard</a>
  <form action="/new-event" method="post" autocomplete="off" class="eventForm" id="new-event">
    <h2 class="text-center mb-3">📅 Add an event 📅</h2>
    <div class="form-group row mb-2">
      <label for="title" class="col-sm-3 col-form-label">Title</label>
      <div class="col-sm-9">
        <input
          type="text"
          name="title"
          id="title"
          class="form-control"
          value="<% if(typeof userData !== 'undefined') { userData.title } %>"
          required
          autofocus
        />
      </div>
    </div>

    <div class="form-group row mb-2">
      <label for="description" class="col-sm-3 col-form-label"
        >Description</label
      >
      <div class="col-sm-9">
        <input
          type="text"
          name="description"
          id="descirption"
          placeholder="(optional)"
          class="form-control"
          value="<% if(typeof userData !== 'undefined') { userData.description } %>"
        />
      </div>
    </div>

    <div class="form-group row mb-4">
      <label for="eventDate" class="col-sm-3 col-form-label">Date</label>
      <div class="col-sm-9">
        <input
          type="date"
          name="eventDate"
          id="eventDate"
          class="form-control"
          value="<% if(typeof userData !== 'undefined') { userData.eventDate } %>"
          required
        />
      </div>
    </div>

    <div class="form-group mb-2">
      <input type="checkbox" id="alert" />
      <label for="alert">📧 Alert me with email</label>
    </div>

    <div class="row mb-3" id="alertConfig">
      <div class="form-group col-md-6">
        <label for="alertDate">Alert Date</label>
        <input
          type="date"
          name="alertDate"
          id="alertDate"
          class="form-control"
          value="<% if(typeof userData !== 'undefined') { userData.alertDate }%>"
          disabled
          required
        />
      </div>

      <div class="form-group col-md-6">
        <label for="alertTime">Alert Time</label>
        <input
          type="time"
          name="alertTime"
          id="alertTime"
          class="form-control"
          value="<% if(typeof userData !== 'undefined') { userData.alertTime } %>"
          disabled
          required
        />
      </div>
      <p class="text-center text-secondary">
        You do not need to think about timezone, we handle that in the back.
      </p>
    </div>

    <input type="hidden" name='isoTime' id="isoTime" value=''/>

    <button type="submit" class="btn btn-dark mx-auto">
      Add event to your dashboard
    </button>
  </form>
</main>

<script>
  let eventForm = document.getElementById("new-event")
  let alertCheckbox = document.querySelector("#alert");
  let alertDate = document.querySelector("#alertDate");
  let alertTime = document.querySelector("#alertTime");
  let isoInput = document.getElementById("isoTime");

  document.addEventListener("input", () => {
    if (alertCheckbox.checked) {
      alertDate.disabled = false;
      alertTime.disabled = false;
    } else {
      alertDate.disabled = true;
      alertTime.disabled = true;
    }
  });

  eventForm.addEventListener("submit", (e) => {
    e.preventDefault();
    try{
      if(alertCheckbox.checked){
        let rawDateTime = new Date(`${alertDate.value} ${alertTime.value}`);
        let isoDateTime = rawDateTime.toISOString();
        isoInput.value = isoDateTime;
      }
      eventForm.submit();
    } catch (error) {
      alertDate.focus();
      console.log(error);
    }
  })
</script>

<%- include('includes/footer') %>
